body {
  font-family: "Great Vibes", cursive;
  background-color: white;
}
header {
  background-color: white !important; /* Fuerza el color celeste en el header */
  color: #5f6368;
  padding: 20px;
}
h1 {
  color: #ffb3ba; /* Color pastel rosado */
  font-size: 5em; /* Tamaño grande para el título */
  text-align: center;
  margin-bottom: 10px;
}
h5 {
  color: #c0a9f5;
  font-size: 3em;
  text-align: center;
}
p {
  color: #c0a9f5; /* Color pastel púrpura */
  font-size: 3em; /* Tamaño más grande para los textos */
  text-align: center;
}
.carousel-caption {
  position: absolute; /* Hace que el texto esté por encima de la imagen */
  bottom: 20px; /* Asegura que el texto esté hacia el fondo del contenedor */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  background-color: transparent; /* Hace el fondo transparente */
  padding: 0; /* Elimina el padding para evitar espacio extra */
  border: none; /* Elimina cualquier borde */
  color: rgba(255, 255, 255, 0.8); /* Color del texto con 80% de opacidad */
}

.carousel-item {
  position: relative; /* Necesario para el posicionamiento de la caption */
}
.carousel-item img {
  max-height: 700px;
  max-width: 100%;

  object-fit: contain;
}
.carousel-caption h5 {
  color: rgba(255, 189, 189, 0.8); /* Color pastel suave con 80% de opacidad */
  font-size: 3em; /* Tamaño más grande para los títulos en el carrusel */
}

.carousel-caption p {
  color: rgba(214, 32, 41, 0.8);
  font-size: 2.5em; /* Tamaño más grande para el subtítulo en el carrusel */
}
.carousel-caption h5,
.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
footer {
  background-color: #ffdd67; /* Color de fondo del pie de página */
  color: #5f6368; /* Color del texto */
}

footer .social-links {
  margin: 15px 0; /* Espacio alrededor de los botones */
}

footer a {
  margin: 0 10px; /* Espaciado entre los enlaces */
}

footer .btn {
  font-size: 2em; /* Tamaño de fuente del botón */
  padding: 10px 20px; /* Espaciado interno de los botones */
}
